div.Layout1-component {
    max-width: 500px;
    min-height: 300px;
    height: fit-content;
    padding: 10px;
    border: 1px solid black;
}

/**/

div.Layout1-component > h4 {
    text-align: left;
    margin-bottom: 10px;
}

div.Layout1-component > div.main-chapter {
    display: flex;
    gap: 10px;
}

div.Layout1-component > div.main-chapter > div {
    width: 20px;
}

div.Layout1-component > div.main-chapter > .lorem {
    margin: 0;
}

div.Layout1-component > h5 {
    margin: 20px;
}

div.Layout1-component > .lorem {
    margin: 20px;
}

div.Layout1-component > div.bottom-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
